@font-face {
    font-family: NY;
    src: url(fonts/RubikDoodleShadow-Regular.ttf);
}
@font-face {
    font-family: GI;
    src: url(fonts/Genshin_Impact.ttf);
}
p{
    font-family: GI;
}
button{
    background: none;
    border: none;
}
body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
main{
    background-image: url(img/back.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.choose-holder{
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.chel-holder{
    background-image: url(img/plate.png);
    background-size: cover;
    width: 270px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chel-holder:hover{
    transform: scale(1.1);
}
.text{
    font-size: 33px;
}


header,footer{
    margin: 5px 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-head,.left-head{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right-head{
    margin-right: 30px;
}

.left-head{
    justify-content: space-between;
    padding: 0 10px;
    width: 350px;
    height: 40px;
    margin-left: 30px;
    background-color: rgb(45, 80, 105);
    border-radius: 20px;
}

.blesk-holder,.pull-holder{
    width: 140px;
    height: 40px;
    background-color: rgb(45, 80, 105);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}
.value-img{
    height: 40px;
    width: 40px;
}
.value-number{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}
.value-add{
    background-color: rgb(247, 231, 231);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 900;
    color:rgb(33, 32, 32);
    cursor: pointer;
}
.value-add:hover{
    font-size: 20px;
}
.curr{
    font-size: 20px;
    color: white;
}
.plr{
    margin-left: 5px;
    color: goldenrod;
    font-size: 25px;
}

.ask{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.647);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
}
.window{
  width: 400px;
  height: 250px;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.label-text{
    margin: 0;
    border: 2px solid rgb(162, 122, 21);
    background-color: gold;
    color: rgb(162, 122, 21);
    font-weight: 900;
    font-family: GI;
    font-size: 30px;
    width: 350px;
    text-align: center;
}
input{
    outline: 0;
    border: 2px solid rgb(162, 122, 21);
    background-color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: GI;
    font-size: 30px;
    width: 350px;
}
.submit{
    border: 2px solid rgb(138, 162, 21);
    background-color: rgb(141, 250, 63);
    color: rgb(138, 162, 21);
    font-weight: 900;
    font-family: GI;
    font-size: 30px;
    cursor: pointer;
    width: 350px;
}
.reset{
    border: 2px solid rgb(162, 87, 21);
    background-color: rgb(255, 170, 0);
    color: rgb(162, 87, 21);
    font-weight: 900;
    font-family: GI;
    font-size: 30px;
    cursor: pointer;
    width: 350px;
}
.disabled{
    display: none !important;
}
.pull-1, .pull-10{
    width: 200px;
    background-color: rgb(247, 231, 231);
    cursor: pointer;
}
.pull-1:hover, .pull-10:hover{
    transform: scale(1.1);
}
.pull-1 .value-number, .pull-10 .value-number{
    color: rgb(59, 58, 58);
    width: 160px;
}

.banner{
    position: relative;
    width: 600px;
    height: 300px;
    margin: 25px 0;
    background-color: rgb(247, 231, 231);
    overflow: hidden;
    z-index: 100;
}
.right-part{
    width: 500px;
    height: 700px;
    transform: rotate(40deg) translateX(200px) translateY(-150px);
    background-image: url(img/banner.jpg);
    background-size: 300px;
    background-repeat: repeat;
    opacity: 0.8;
}
.gift{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 240px;
    height: 240px;
    z-index: 200;
}
.left-part{
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.banner-title .banner-text{
    font-size: 20px;
    color: rgb(195, 21, 21);
}

.banner-bound .banner-text{
    font-size: 16px;
    padding: 3px;
    background-color: rgb(14, 185, 14);
    color: rgb(247, 231, 231);
}

.banner-bound .banner-text:nth-child(2){
    background-color: rgb(195, 21, 21);
}

.banner-data .banner-text{
    font-size: 18px;
    color: rgb(14, 185, 14);
}

.pulling{
    position: absolute;
    z-index: 600;
    width: 100vw;
    height: 100vh;
    background-image: url(img/back.jpg);
    background-size: cover;
    overflow: hidden;
}
@keyframes apper {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.apper{
    animation: 1s apper;
}
.inner-space{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes pullLega {
    0%{
        transform: translateY(-200%);
    }
    50%{
        transform: translateY(0);
    }
    50%{
        background-image: url(img/q.png);
        transform: translateY(0);
    }
    100%{
        background-image: url(img/ql.png);
        transform: translateY(0) scale(6);
    }
}
@keyframes pullCommon {
    0%{
        transform: translateY(-200%);
    }
    50%{
        transform: translateY(0);
    }
    50%{
        background-image: url(img/q.png);
        transform: translateY(0);
    }
    100%{
        background-image: url(img/qc.png);
        transform: translateY(0) scale(6);
    }
}
@keyframes pullRare {
    0%{
        transform: translateY(-200%);
    }
    50%{
        transform: translateY(0);
    }
    50%{
        background-image: url(img/q.png);
        transform: translateY(0);
    }
    100%{
        background-image: url(img/qr.png);
        transform: translateY(0) scale(6);
    }
}
.pull-apper-common{
    animation: 2s pullCommon forwards;
}
.pull-apper-lega{
    animation: 2s pullLega forwards;
}
.pull-apper-rare{
    animation: 2s pullRare forwards;
}
.pull-res{
    width: 300px;
    height: 300px;
    transform: translateY(-200%);
    background-image: url(img/q.png);
    background-size: cover;
}
@keyframes res {
    0%{
        transform: scale(6);;
    }
    100%{
        transform: scale(1);
    }
}
.apper-after-pulling{
    animation: 0.5s res forwards ease-out;
}
.valueable{
    transform: scale(6);
}
.after-pulling{
    position: absolute;
    z-index: 550;
    width: 100vw;
    height: 100vh;
    background-image: url(img/back.jpg);
    background-size: cover;
    overflow: hidden;
}
.get-gift{
    width: 100vh;
    height: 100vh;
    transform: scale(6);
    background-size: cover;
}

.valueable{
    position: absolute;
    z-index:555;
    top: 45%;
    left:10%;
}
.valueable-name{
    color: white;
    font-size: 5vh;
    margin: 3px 0;
}
.star{
    width:5vh;
    height:5vh;
}
.close,.next{
    position: absolute;
    z-index:555;
    top: 5%;
    right: 5%;
    font-size: 5vh;

    width:8vh;
    height:8vh;
    background-color: rgb(247, 231, 231);
    color: rgb(33, 32, 32);
    border-radius: 4vh;
    cursor: pointer;
}
.close:hover{
    font-size: 6vh;
}

.history{
    justify-content: space-between;
    width: 350px;
    height: 40px;
    margin-left: 30px;
    border-radius: 20px;
}
.history-holder{
    width: 200px;
    background-color: rgb(247, 231, 231);
    cursor: pointer;

    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history-text{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(33, 32, 32);
}
.history-list{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.647);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pull-history{
    width: 350px;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.about-pull{
    display: flex;
}
.after-4, .after-5,.pulled-gift{
    width: 75px;
}
.pulled-date{
    width: 120px;
}
.h-cell{
    background-color: gold;
    color: rgb(162, 122, 21);
    border: 1px solid rgb(162, 122, 21);
    padding: 2px;
    text-align: center;
    margin: 0;
}
.cell{
    margin: 0;
    border: 1px solid rgb(162, 122, 21);
    text-align: center;
    padding: 2px;
    background-color: rgb(247, 231, 231);
    color: rgb(33, 32, 32);
}

::-webkit-scrollbar{
    width: 5px;
    background-color: azure;
}
::-webkit-scrollbar-track-piece{
    width: 5px;
    background-color: gold;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(155, 147, 64);
}


@media(max-width: 1000px){
    .gift{
        width: 200px;
        height: 200px;
        top: 10%;
        left: 55%;
    }
    header,footer{
        transform: scale(0.9);
    }
}
.plr{
    cursor: pointer;
}